
.invoice-detail-column{
    padding: 0px 30px 0px 30px;
    /* max-width: 376px; */
}

.invoice-detail-column .input-group-prepend span{
    width: 140px;
    font-weight: bold;
}

#invoice-total,#supplier-name{
    color: white;
}

#invoice-total,#supplier-name{
    background-color:#4d4b4b!important;
    border: 1px solid #4d4b4b
}

.invoice-item-container {
    padding: 10px 0 10px 0;
    border-bottom: 2px solid grey;
}

.invoice-item-titles-container{
    padding: 10px 0 10px 0;
}

.invoice-item-container-titles {
    text-align: center;
    display: inline-block;
    border: 2px solid grey
}

.invoice-item-container:hover {
    /* border-style: none;
    border-width: 1px; */
    border-color: white;
    background-color:#5f5f5f;
}

.invoice-item-list-mobile {
    display: none;
}

.item-card {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: none;
    color: 'white';
}

.item-card .card-header:hover{
    border-color: white;
    background-color:#5f5f5f;
    cursor: pointer;
    color: #ffc107
}

.item-card .card-header{
    background-color: #404040;
    color: white;
}

.card-header-title{
    overflow: hidden;
    white-space: nowrap;
}

.card-header-arrow {
    display:inline;
    border: 1px solid white;
    padding: 2px 3px 2px 2px;
    font-size: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .invoice-item-list {
        display: none;
    }

    .invoice-item-list-mobile {
        display: flex;
        margin-bottom: 50px;
    }
}